<div class="container-fluid">
    <div class="ipad" [ngStyle]="{'height.px':.65*height}">
        <div class="leftDiv">
            <div class="icon" style="text-align:center;"></div>
            <h1 class="title" style="text-align:center;"> INSTATICKET</h1>
            <h5 class="sub" style="text-align:center;">ADD, CHANGE AND CORRECT</h5>
        </div>
    </div>
    <div class="loginImg" [ngStyle]="{'height.px':height}">
        <div style="margin: 0px 95px;height: 85%;padding-top: 8em;">
            <div class="icon" style="text-align:center;"></div>
            <h1 class="title" style="text-align:center;"> INSTATICKET</h1>
            <h5 class="sub" style="text-align:center;">ADD, CHANGE AND CORRECT</h5>
        </div>
    </div>

    <div class="login">
        <div class="circle">

        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- <div class="form-group"> -->
            <div>
                <h3 style="font-family: 'Montserrat', sans-serif;">Lets' start</h3>
            </div>
            <div class="form-row">
                <p class="mb-0 w-100">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Username</mat-label>
                        <input type="text" formControlName='username' matInput placeholder="Username">
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <mat-error *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
                            Username is mandatory</mat-error>
                    </mat-form-field>
                </p>
                <!-- <span *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
                    Enter valid username
                </span> -->
                <p class="mt-n1 mb-0 w-100">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" formControlName='password' type="password">
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                            Password is mandatory</mat-error>
                    </mat-form-field>
                </p>
                <!-- 
                <span *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                    Enter valid Password
                </span> -->
            </div>
            <div class="form-row">

            </div>

            <button type="submit" class="btn btn-primary">Login</button>
            <div class="form-group">

                <span class="text-primary"> New User? <a routerLink="/register">Register</a> </span>

            </div>


        </form>
    </div>

</div>