<div class="container-fluid">
    <div class="row">
        <div class="loginImg col-md-8">
            <div class="logo"></div>
            <div>

                <h1 class="title" style="text-align:center;"> INSTATICKET</h1>
                <h5 class="sub" style="text-align:center;">ADD, CHANGE AND CORRECT</h5>
            </div>
        </div>
        <div class="circle">

        </div>
        <div class="col-md4 loginBox formGroup">

            <form>
                <div class="form-group">
                    <div>
                        <h3 style="font-family: 'Montserrat', sans-serif;">Lets' start</h3>
                    </div>
                    <input type="email" class="form-control" placeholder="USERNAME">
                </div>
                <div class="form-group">

                    <input type="password" class="form-control" placeholder="PASSWORD">
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
                <div class="form-group">

                    <span class="text-primary"> New User? Register </span>

                </div>
            </form>
        </div>

    </div>