



.container-fluid{
  display:flex;
  height: 625px;
  
  padding-left: 0;
  
}

.login{
  
  padding-left:4em;
  width:32%;
  height: 100%;
   padding-top: 7em;
 
  align-items: center;

}

.loginImg {
 
  // background-size: 1174px auto;
  //  background-image: url("../../image/Penguins.jpg");
  background-image: url("../../image/background.svg");
  background-size:cover;
 width:54%;
 display: flex;
 align-items: center;
  }
  .circle {
    background-size: contain;
    background-image: url("../../image/circles.svg");
    background-repeat: no-repeat;
    width: 35%;
    height: 25%;
    margin-left:auto;
    margin-right: 0;
    
    
    // left: 250px;
    // top: 30px;
  }
  .title {
   
    font-size: 60px;
   
    
    color: white;
    font-family: Montserrat;
    font-weight: bolder;
  }
  .sub {
    
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
  }
  .icon {
    background-image: url("../../image/icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
  
  
    margin: 0px auto;
    
    height: 28%;
    width: 32%;
  
  }